snippet cl "class"
<div class="$1">
    $2
</div>
endsnippet

snippet c "container"
<div class="container">
    $1
</div>
endsnippet

snippet r "row"
<div class="row">
    $1
</div>
endsnippet

snippet xs "xs"
<div class="col-xs-${1:6}">
    $2
</div>
endsnippet

snippet sm "sm"
<div class="col-sm-${1:6}">
    $2
</div>
endsnippet

snippet md "md"
<div class="col-md-${1:6}">
    $2
</div>
endsnippet
